* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  max-width: 1000px;
  min-height: 1250px;
  margin: auto;
}
body {
  background-color: rgb(218, 231, 255);
  font-family: "Raleway", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-image: url(zigzag.png);
  align-items: center;
  width: 100%;
  font-weight: bold;
  height: 50px;
}
.logo {
  height: 90%;
  /* border: 1px solid black; */
}
.formule {
  text-align: center;
  margin-top: 20px;
}
.logo img {
  object-fit: contain;
  height: 100%;
}
ul {
  display: inline;
  text-align: right;
}
.text {
  text-align: center;
}
.center {
  text-align: center;
}
.sulyg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 20px;
}
a {
  text-decoration: none;
}
.flex-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  justify-content: space-around;
}

.flex-container > div {
  background-color: rgb(210, 220, 221);
  margin: 1px;
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  text-align: center;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.74);
}
.integralas {
  text-align: center;
  margin-top: 20px;
}
h1 {
  text-align: justify;
  /* margin: 1%; */
}
footer {
  display: flex;
  justify-content: space-around;
  background-image: url(zigzag.png);
  align-items: center;
  width: 100%;
  padding: 10px;
}
footer a {
  display: block;
}
i {
  font-size: 24px;
}
.objektas {
  height: 75px;
  width: 125px;
  margin-top: 50px;
}
@media screen and (max-width: 620px) {
  .sulyg {
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }
  .navbar {
    flex-direction: column;
    height: 100px;
  }
}
@media screen and (max-width: 950px) {
  .main {
    max-width: 670px;
  }
}
